<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EtherpunkInventoryManagement</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/AdminDashboard">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- INVENTORY -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inventory</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Inventory/Create">Create New Item</a>
                            <a class="dropdown-item" href="/Inventory/MassCreate">Mass Create Items</a>
                            <a class="dropdown-item" href="/Inventory/Reassign">Reassign Item</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Inventory/Dispose">Dispose Item</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Inventory/Delete">Delete Item</a>
                        </div>
                    </li>

                    <!-- USERS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/User/Create">Create User</a>
                            <a class="dropdown-item" href="/User/Index">User List</a>
                        </div>
                    </li>

                    <!-- REPORTS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Report/RecentlyAssignedItems">Recently Assigned Items</a>
                            <a class="dropdown-item" href="/Report/DisposedItems">Disposed Items</a>
                            <a class="dropdown-item" href="/Report/DeletedItems">Deleted Items</a>
                            <a class="dropdown-item" href="/Report/OrphanedItems">Orphaned Items</a>
                            <a class="dropdown-item" href="/Report/UserHistory">User History</a>
                            <a class="dropdown-item" href="/Report/ItemAssignmentHistory">Item Assignment History</a>
                            <a class="dropdown-item" href="/Report/ItemFullReport">Item Full Report</a>
                            <a class="dropdown-item" href="/Report/VendorList">Vendor List</a>
                            <a class="dropdown-item" href="/Report/UserAudit">User Audit</a>
                            <a class="dropdown-item" href="/Report/ITAudit">IT Audit</a>
                            <a class="dropdown-item" href="/Report/ImportantActionItems">Important Action Items</a>
                        </div>
                    </li>

                    <!-- VENDORS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vendors</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Vendor/Index">Vendor List</a>
                            <a class="dropdown-item" href="/Vendor/Create">Create Vendor</a>
                        </div>
                    </li>


                    <!-- SETTINGS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Settings/Index">General</a>
                            <a class="dropdown-item" href="/Settings/Ldap">Active Directory / LDAP</a>
                        </div>
                    </li>

                </ul>
            </div>
            <form action="/Home/Search" class="form-inline" method="post">
                <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>

            <partial name="_LoginPartial" />

        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2018-2019 - Mann (Etherpunk)<br />
            EPIM (Etherpunk Inventory Manager)<br />
            Release date and count:
            @{
                var assemblyLocation = System.Reflection.Assembly.GetExecutingAssembly().Location;
                var fileVersion = System.Diagnostics.FileVersionInfo.GetVersionInfo(assemblyLocation).FileVersion;
                @fileVersion
            }
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
